@model IEnumerable<dominio.Disco>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado Discos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Disco</a>
</p>
<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.Id)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.FechaLanzamiento)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.CantidadCanciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlTapa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.FechaLanzamiento)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.CantidadCanciones)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.UrlTapa) *@
                <img src="@item.UrlTapa" width="80" alt="Imagen disco" />
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" class="btn btn-outline-success" asp-route-id="@item.Id">Detalle</a> |
                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
